<launch>
  <arg name="map_file" default="lab_v2_3.yaml"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="with_camera" default="false"/>
  <arg name="use_lsm" default="true"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find rt1_navigation)/map/$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find rt1_navigation)/launch/include/amcl.launch.xml"/>

  <!-- Move base -->
  <include file="$(find rt1_navigation)/launch/include/move_base.launch.xml"/>

  <!-- Laser Scan Matcher -->
  <include if="$(arg use_lsm)" file="$(find ros_start)/launch/laser_scan_matcher.launch"/>

  <!-- Rviz -->
  <include if="$(arg launch_rviz)" file="$(find rt1_navigation)/launch/rviz.launch"/>

  <node if="$(arg with_camera)" name="image_transport" pkg="image_transport" type="republish" args="compressed in:=/raspicam_node/image raw out:=/camera/image_raw"/>


</launch>

