<launch>

	<!-- AMCL -->
 	<include file="$(find rt1_navigation)/launch/amcl.launch"/>

	<!-- Hector_mapping:Odom_estimation -->
	<include file="$(find hector_mapping)/launch/hector_pos_estimation.launch"/>

	<!-- Odom-to-tf -->
	<node name="odomtransformer" pkg="ros_start" type="odomtransformer.py" output="screen">
		<param name="odom_input" value="scanmatch_odom"/>
		<param name="tf_output" value="base_link"/>
	</node>

</launch>

